In [1]:
# Görev 1 : Verilen değerlerin veri yapılarını inceleyiniz.

In [2]:
x = 8
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1,2,3,4]
d = {"Name": "Jake",
    "Age": 27,
    "Adress":"Downtown"}
t = {"Machine Learning" , "Data Science"}
s = {"Python","Machine Learning","Data Science"}

In [4]:
print("x veri tipi:", type(x),
     "y veri tipi:", type(y),
     "z veri tipi:", type(z),
     "a veri tipi:", type(a),
     "b veri tipi:", type(b),
     "c veri tipi:", type(c),
     "l veri tipi:", type(l),
     "d veri tipi:", type(d),
     "t veri tipi:", type(t),
     )

x veri tipi: <class 'int'> y veri tipi: <class 'float'> z veri tipi: <class 'complex'> a veri tipi: <class 'str'> b veri tipi: <class 'bool'> c veri tipi: <class 'bool'> l veri tipi: <class 'list'> d veri tipi: <class 'dict'> t veri tipi: <class 'set'>

In [6]:
# Görev 2: Verilen string ifadenin tüm harflerini büyük harfe çeviriniz.Virgül ve nokta yerine space koyunuz,
# kelime kelime ayırınız.

text = "The goal is to turn data into information, and information into insight."

In [8]:
A = text.upper().split()
A

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION,',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT.']

In [14]:
# Görev 3: Verilen listeye aşağıdaki adımları uygulayınız.
lst = ["D","A","T","A","S","C","I","E","N","C","E"]

# Adım 1 : Verilen listenin eleman sayısına bakınız.
len(lst)
# Adım 2 : Sıfırıncı ve onuncu indeksteki elemanları çağırınız.
lst[0],lst[10]
# Adım 3 : Verilen liste üzerinden ["D","A","T","A"] listesi oluşturunuz.
lst[:4]
# Adım 4 : Sekizinci indekteki elemanı siliniz.
lst.pop(8)
#lst.remove(8)
lst
## pop ve remove farkı :pop(): Belirtilen indeksdeki elemanı listeden siler ve o elemanı döndürür. İndeks verilmezse, son elemanı siler.

# remove(): Listede belirtilen ilk değeri siler. Değer üzerinden işlem yapar, geri döndürme yapmaz
# Adım 5 : Yeni bir eleman ekleyiniz.
lst.append("N")
lst
# Adım 6 : Sekizinci indekse "N" elemanını tekrar ekleyiniz.
lst.insert(8, "N")
lst
## append ve insert farkı : append(): Listenin sonuna eleman ekler.insert(): Belirtilen indeks pozisyonuna eleman ekle

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'C', 'E', 'N']

In [12]:
# Görev 4 : Verilen sözlük yapısına aşağıdaki adımları uygulayınız.
dict = {"Christan" : ["America",18],
       "Daisy":["England",12],
       "Antonio":["Spain",22],
       "Dante":["Italy",25]}
# Adım 1: Key değerlerine erişiniz.
dict.keys()
# Adım 2: Value'lara erişiniz.
dict.values()
# Adım 3: Daisy key'ine ait 12 değerini 13 olarak güncelleyiniz.
dict["Daisy"][1] = 13
dict.values()
# Adım 4: Key değeri Ahmet value değeri [Turkey,24] olan yeni bir değer ekleyiniz.
dict["Ahmet"] = ["Turkey",24]
# Adım 5: Antonio'yu dictionary'den siliniz.
# del dict['Antonio']
dict.pop('Antonio')
print(dict)

{'Christan': ['America', 18], 'Daisy': ['England', 13], 'Dante': ['Italy', 25], 'Ahmet': ['Turkey', 24]}

In [19]:
# Görev 5:Argüman olarak bir liste alan, listenin içerisindeki tek ve çift sayıları 
#ayrı listelere atayan ve bu listeleri return eden fonksiyon yazınız.

In [21]:
def func(l):
    even_list = []
    odd_list = []

    for number in l:
        if number % 2 == 0:
            even_list.append(number)
        else:
            odd_list.append(number)

    return even_list, odd_list

l = [2, 13, 18, 93, 22]
even_list, odd_list = func(l)

print("Çift sayılar:", even_list)
print("Tek sayılar:", odd_list)

Çift sayılar: [2, 18, 22]
Tek sayılar: [13, 93]

In [23]:
#  Görev 6: Aşağıda verilen listede mühendislik ve tıp fakültelerinde dereceye giren 
# öğrencilerin isimleri bulunmaktadır. Sırasıyla ilk üç öğrenci mühendislik fakültesinin 
# başarı sırasını temsil ederken, son üç öğrenci de tıp fakültesi öğrenci sırasına aittir. 
# Bu listeyi kullanarak öğrencilerin derecelerini fakülte özelinde yazdırınız.

In [25]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]

In [27]:
# Mühendislik fakültesi öğrencileri (ilk üç)
muhendislik_fakultesi = ogrenciler[:3]

# Tıp fakültesi öğrencileri (son üç)
tip_fakultesi = ogrenciler[3:]

# Mühendislik fakültesi öğrencilerini dereceleriyle yazdırma
print("Mühendislik Fakültesi:")
for i, ogrenci in enumerate(muhendislik_fakultesi, 1):
    print(f"{i}. {ogrenci}")

# Tıp fakültesi öğrencilerini dereceleriyle yazdırma
print("\nTıp Fakültesi:")
for i, ogrenci in enumerate(tip_fakultesi, 1):
    print(f"{i}. {ogrenci}")

Mühendislik Fakültesi:
1. Ali
2. Veli
3. Ayşe

Tıp Fakültesi:
1. Talat
2. Zeynep
3. Ece

In [29]:
# Görev 7: Aşağıda 3 adet liste verilmiştir. Listelerde sırasıyla bir dersin kodu, 
#kredisi ve kontenjan bilgileri yer almaktadır.Zip kullanarak ders bilgilerini bastırınız.

In [31]:
ders_kodu = ["CMP1005","PSY1001","HUK1005","SEN2204"]
kredi = [3,4,2,4]
kontenjan = [30,75,150,25]

In [33]:
# Zip kullanarak listeleri birleştirme
ders_bilgileri = zip(ders_kodu, kredi, kontenjan)

# Sonuçları yazdırma
for kod, kredi, kontenjan in ders_bilgileri:
    print(f"Kredisi {kredi} olan {kod} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [35]:
# Görev 8: Aşağıda 2 adet set verilmiştir.Sizden istenilen eğer 1. küme 2. kümeyi 
# kapsiyor ise ortak elemanlarını eğer kapsamıyor ise 2. kümenin 1. kümeden farkını 
# yazdıracak fonksiyonu tanımlamanız beklenmektedir.

In [39]:
def check_and_print_sets(kume1, kume2):
    if kume1.issuperset(kume2):
        # 1. küme 2. kümeyi kapsıyorsa, ortak elemanları yazdır
        ortak_elemanlar = kume1.intersection(kume2)
        print(ortak_elemanlar)
    else:
        # 1. küme 2. kümeyi kapsamıyorsa, 2. kümenin 1. kümeden farkını yazdır
        fark = kume2.difference(kume1)
        print(fark)

# Küme tanımlamaları
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])

# Fonksiyonu çağırma
check_and_print_sets(kume1, kume2)

{'lambda', 'function', 'miuul', 'qcut'}